<!-- customizations here -->
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-G6W5JWGHXL"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-G6W5JWGHXL');
</script>

<meta name="msvalidate.01" content="2BCE76F6D7BBB2CC09BA3E9A289CCF39" />

<style>
    .ad {
        text-align: center;
    }
</style>

<link href="https://fonts.googleapis.com/css?family=M+PLUS+1p" rel="stylesheet">

